#root {
  border: 6px solid #fff;
  padding: 100px 200px;
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,20,255,1) 0%, rgba(46,188,217,1) 100%);  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  text-transform: uppercase;
}

#root > div:nth-child(1) > h1 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

#root > input[type=text] {
  padding: 10px 10px;
  width: 96%;
  height: 100%;
  border-radius: 2px;
  border-color: #fff;
  margin: 10px 0px;
}

#root > div > label > input[type=checkbox] {
  width: 25px;
  height: 25px;
}

#root > div:nth-child(5) {
  text-align: center;
}

button {
  display: block;
  width: 100%;
  margin: 20px 0px;
  padding: 10px 0px;
  text-align: center;
  background-color: rgb(61, 170, 170);
  color: #fff;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
